{% extends 'layout/cabinetbase.html' %}
{% load static %}

{% block cabinet %}
<div class="cabinet__content">
    <div class="cabinet__content-header">
        <div class="profile">
            <div class="profile__photo">

                <img src="{% static 'img/comments/prof.jpeg' %}" alt="" class="cabin__img">
            </div>
        </div>

        <div class="profile__content-info">
            <div class="info__title">Personal Information</div>
            <div class="info__subtitle">you attract what's inside you</div>
        </div>
    </div>

    <form action="" method="get" class="personal__info">
        <div class="personal__info-item">
            <div class="personal__info-inner">
                <label class="personal__info-name">Name</label>
                <div class="personal__info-fieldname">Lorem</div>

            </div>
            <div class="personal__info-inner">
                <label class="personal__info-name">Surname</label>
                <div class="personal__info-fieldname">Ipson</div>
            </div>
        </div>

        <div class="personal__info-item">
            <div class="personal__info-inner">
                <label class="personal__info-name">Email</label>
                <div class="personal__info-fieldname">sdfsf@mail.ru</div>
            </div>
            <div class="personal__info-inner">
                <label class="personal__info-name">About</label>
                <div class="personal__info-text redact__info-text">Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit. Illo, quae!
                </div>
            </div>
        </div>

        <div class="btn-pers">
            <button type="submit" class="personal__save">Редактировать</button>
        </div>

    </form>

</div>
{% endblock %}